@page "/People"

@using HouseholdDebtTrackerDAL
@using HouseholdDebtTrackerDAL.Models

@inject IPeopleAccessor _db

<h1> People page </h1>

<h4> Current people </h4>

@if (people == null) 
{
    <p><em>Loading..</em></p>
} else 
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>NickName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.ID</td>
                    <td>@person.Name</td>
                    <td>@person.Gender</td>
                    <td>@(person.NickName ?? "")</td>
                </tr>                
            }
        </tbody>
    </table>
}

@code {
    private List<PersonModel> people;

    protected override async Task OnInitializedAsync()
    {
        people = await _db.GetAllPeopleAsync();
    }
}